.cube-container {
  button {
    /* border: 1px solid rgba(0, 0, 0, 0.23); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.092);
    border: 1px solid rgba(0, 0, 0, 0.044);
    padding: 14px 15px;
    margin: 5px;
  }

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu div {
    display: inline-block;
    color: white; 
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
}


div::-webkit-scrollbar {
  display: none;
}


